@using BL.Discussions

@model IQueryable<Discussion>

@{
    ViewBag.Title = "All Discussions";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<button class="btn btn-info" style="margin: 10px;" onclick="document.location.href='@Url.Action("AddDiscussion")'">Add Discussion</button>

<table class="table table-responsive table-striped text-center">
    <tr class="text-info">
        <td><b>Id</b></td>
        <td><b>Title</b></td>
        <td><b>Messages</b></td>
        <td></td>
    </tr>
    @foreach (var discussion in Model)
    {
        <tr>
            <td>@discussion.Id</td>
            <td><a href="@Url.Action("Show", new { id = discussion.Id })">@discussion.Title</a></td>
            <td>@discussion.Messages.Count</td>
            <td><span class="glyphicon glyphicon-remove text-danger clickable" onclick="document.location.href='@(Url.Action("RemoveDiscussion", new{id=discussion.Id}))';$(this).parentsUntil('td').parent().remove();"></span></td>
        </tr>
    }
</table>

