@model BL.Discussions.Discussion

@{
    ViewBag.Title = string.Format("Discussion '{0}'", Model.Title);
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h1 class="text-center page-header">@Model.Title</h1>

<div id="msg-container"></div>

<script type="text/javascript">
    $(function() {
        viewAllMessages();
        $('#msg-area').keydown(function(event) {
            var enterKey = 13;
            if (event.which == enterKey) {
                $('#btn-send').click();
            }
        });
    });

    function viewAllMessages() {
        var options = {
            url: '@Url.Action("GetAllMessages")',
            data: { discussionId: @Model.Id },
            cache: false,
            success: function(data) {
                data.forEach(viewMessage);
            }
        };
        $.ajax(options);
    }

    function viewMessage(msg) {
        if (typeof (msg) == "undefined") {
            return;
        }
        var msgContainer = $('#msg-container');
        var msgDiv = $(document.createElement('div')).addClass('msg-div');
        msgDiv.append($(document.createElement('div')).addClass('msg-id').addClass('hidden').append(msg.Id));
        var avatarPath = '@(Url.Content("~/Pictures/Avatars/"))' + msg.Author.Avatar;
        msgDiv.append($(document.createElement('div'))
            .addClass('msg-user')
            .append($(document.createElement('img'))
                .attr('src', avatarPath)
                .attr('width','100%')
                .addClass('img-rounded')
            )
        );

        var msgDate = $(document.createElement('div'))
            .addClass('msg-date')
            .addClass('small');
        if (@(User.IsInRole("Write Forum").ToString().ToLower()) && msg.Author.Id == @(User.Id)) {
            msgDate.append($(document.createElement('span'))
                .addClass('clickable')
                .addClass('glyphicon')
                .addClass('glyphicon-remove')
                .addClass('pull-right')
                .click(function() {
                    removeMessage(@Model.Id, $(this).parentsUntil('.msg-div').parent(),
                        '@Url.Action("RemoveMessage")');
        }));
    }
    msgDate.append($(document.createElement('div'))
        .addClass('text-center text-muted')
        .append(msg.Date));

    msgDiv.append(msgDate);
    msgDiv.append($(document.createElement('div')).addClass('msg-body').append($(document.createElement('div'))
        .append($(document.createElement('b')).addClass('text-info').append(msg.Author.Login).append('<br/>'))
        .append(msg.Body)));

    msgContainer.append(msgDiv);
    }

    function sendMessage(discussionId, msg, url) {
        var options = {
            url: url,
            method: 'POST',
            data: {
                discussionId: discussionId,
                message: msg
            },
            success: function(data) {
                $('#msg-area').val('');
                viewMessage(data.message);
            }
        };
        $.ajax(options);
    }

    function getMessages(discussionId, url) {
        var options = {
            url: url,
            data: {discussionId: discussionId},
            method: 'POST',
            success: function(data) {
                alert('recieved');
            }
        };
        $.ajax(options);
    }

    function removeMessage(discussionId, messageRow, url) {
        var messageId = messageRow.children('.msg-id').first().text();
        var options = {
            url: url,
            data: { discussionId: discussionId, messageId: messageId },
            method: 'POST',
            success: function(data) {
                if (typeof (data.result) != "undefined" && data.result == "success") {
                    messageRow.remove();
                }
            }
        };
        $.ajax(options);
    }
</script>

@if (User.IsInRole("Write Forum"))
{
    <div class="form-horizontal">
        @Html.TextArea("message", new {@class = "form-control", rows = 3, id = "msg-area"})
        <button id="btn-send" class="btn btn-info clickable" onclick="sendMessage(@Model.Id, $('#msg-area').val(), '@Url.Action("SendMessage")')" style="margin-top: 10px">Send</button>
    </div>
}