@using UI.WebApp.Helpers
@model UI.WebApp.Models.Users.DetailsViewModel

@{
    ViewBag.Title = "User Details";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<script type="text/javascript" src="../../Static/Users.js"></script>

<h1 class="page-header text-center">@Model.User.Login</h1>

<div class="row">
    <div class="col-xs-6">
        <img class="img-rounded" src="@(Url.Content(FoldersPathes.AvatarsFolder + Model.User.Avatar))" style="max-width: 300px; width: 100%;" />
    </div>
    <div class="col-xs-6" style="min-width: 200px;">
        <table class="table table-bordered">
            <tr>
                <td width="30%"><b>Id</b></td>
                <td width="70%">@Model.User.Id</td>
            </tr>

            <tr>
                <td width="30%"><b>Login</b></td>
                <td width="70%">@Model.User.Login</td>
            </tr>

            <tr>
                <td width="30%"><b>Password</b></td>
                <td width="70%">@Model.User.Password</td>
            </tr>

            <tr>
                <td width="30%"><b>Sex</b></td>
                <td width="70%">@(Model.User.IsMale ? "Male" : "Female")</td>
            </tr>
        </table>
    </div>
</div>

<h3 class="text-center text-underlined">Permissions</h3>

<div class="col-xs-offset-1">
    @foreach (var permission in Model.Permissions)
    {
        <div class="checkbox row">
            <label>
                @if (User.IsInRole(UserRole.ChangePermissions))
                {
                    @Html.CheckBox(name: string.Format("permission_{0}", permission.Id),
                        isChecked: Model.User.Permissions.Contains(permission),
                        htmlAttributes: new
                        {
                            onclick = "setUserPermission(" + Model.User.Id + ", " + permission.Id + ", this.checked, '" + @Url.Action("SetUserPermission") + "')"
                        })
                }
                else if (Model.User.Permissions.Contains(permission))
                {
                    <span class="glyphicon glyphicon-plus"></span>
                }
                else
                {
                    <span class="glyphicon glyphicon-minus"></span>
                }
                @(permission.Name)
            </label>
        </div>
    }
</div>