@using BL.Users
@model UI.WebApp.Models.Users.UserRegistrationResultViewModel

@{
    Layout = "../Shared/Layout.cshtml";
    ViewBag.Title = "User Registration";
}

@if (Model.HasResult)
{
    switch (Model.Result)
    {
        case UserRegistrationResult.Success:
            <h3 class="text-center alert alert-success">Registration successful!</h3>
            break;
        default:
            <h3 class="text-center alert alert-danger">Registration failed!</h3>
            break;
    }
}
else
{
    <script type="text/javascript" src="../../Static/Users.js"></script>

    using (Html.BeginForm("Registration", "Users", FormMethod.Post, new {@class = "form-horizontal", role = "form", enctype = "multipart/form-data"}))
    {
        <div class="form-group has-feedback">
            <label class="col-xs-2 control-label">Login</label>
            <div id="login-div" class="col-xs-10 validate">
                @Html.TextBox("login", "", new {@class = "form-control", placeholder = "Login", required = "", onchange = "checkLoginIsEmpty('#login-div','" + Url.Action("Exists") + "')"})
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-2 control-label">Password</label>
            <div id="pwd-div" class="col-xs-10">
                @Html.TextBox("password", "", new {@class = "form-control", placeholder = "Password", required = ""})
            </div>
        </div>

        <div class="form-group">
            <div id="pwd-conf-div" class="col-xs-offset-2 col-xs-10 has-feedback validate">
                @Html.TextBox("password", "", new {@class = "form-control", placeholder = "Password Confirmation", required = "", oninput = "onPwdConfirmation('#pwd-div', '#pwd-conf-div')"})
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-2 control-label">Sex</label>
            <div class="col-xs-10">
                @Html.DropDownList("isMale", new[]
                {
                    new SelectListItem {Selected = true, Value = "true", Text = "Male"},
                    new SelectListItem {Value = "false", Text = "Female"}
                }, new {@class = "form-control"})
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-2 control-label">Avatar</label>
            <div class="col-xs-10">
                <input name="avatar" type="file" class="form-control"/>
            </div>
        </div>

        <div class="form-group has-feedback">
            <label class="col-xs-2 control-label">Email</label>
            <div class="col-xs-10 email-div validate">
                @Html.TextBox("email", "", new {@class = "form-control", placeholder = "Email", required = "", onchange = "EmailOnChange('.email-div')"})
            </div>
        </div>

        <button class="btn btn-default pull-right btn-submit" type="submit">Register</button>
    }
}

<script type="text/javascript">
    function onPwdConfirmation(pwdDiv, confDiv) {
        var jConfDiv = $(confDiv);

        var pwd = $(pwdDiv).find('input').first().val();
        var conf = jConfDiv.find('input').first().val();

        if (conf == "") {
            markInput(confDiv);
        } else {
            markInput(confDiv, pwd == conf);
        }
    };
</script>