@using UI.WebApp.Helpers.Global
@using UI.WebApp.Helpers.Users
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <script type="text/javascript" src="~/Static/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="~/Static/bootstrap/js/bootstrap.js"></script>

    <link rel="stylesheet" href="~/Static/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Static/bootstrap/css/bootstrap-theme.css" />

    <link rel="stylesheet" href="~/Static/styles.css"/>
    <link rel="stylesheet" href="~/Static/Discussions.css" />
    <link rel="stylesheet" href="~/Static/Layout.css" />
</head>
<body>
    <div class="container">
        <div>
            @if (User.Identity.IsAuthenticated)
            {
                <div id="user-avatar-menu" class="pull-right">
                    <div class="dropdown">
                        <div id="user-avatar-div" class="container-center dropdown-toggle clickable" data-toggle="dropdown">
                            <img class="img-rounded" src="@(Url.Content(FoldersPathes.AvatarsFolder + User.Avatar))" height="100%" />
                            <div>
                                <b>@(User.Login)</b>
                            </div>
                        </div>

                        <ul class="dropdown-menu">
                            @if (User.IsInRole(UserRole.BrowseUsers))
                            {
                                <li>@Html.ActionLink("Show All", "ShowAll", "Users")</li>
                            }
                            <li>@Html.ActionLink(linkText: "Details", actionName: "Details", controllerName: "Users", routeValues: new { id = User.Identity.Name }, htmlAttributes: null)</li>
                            <li>@Html.ActionLink(linkText: "Log Out", actionName: "LogOut", controllerName: "Users")</li>
                        </ul>
                    </div>
                </div>
            }

            <ul class="nav nav-tabs pull-right">
                <li class="@Html.Raw(ViewBag.MenuItem == MenuItem.Home ? "active" : null)">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>

                @if (User.Identity.IsAuthenticated)
                {
                    <li class="@Html.Raw(ViewBag.MenuItem == MenuItem.Discussions ? "active" : null)">
                        @Html.ActionLink("Discussions", "ShowAll", "Discussions")
                    </li>
                }

                @if (!User.Identity.IsAuthenticated)
                {
                    <li class="dropdown @Html.Raw(ViewBag.MenuItem == MenuItem.User ? "active" : null)">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                            User
                            <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Log In", "LogIn", "Users")</li>
                            <li>@Html.ActionLink("Registration", "Registration", "Users")</li>
                        </ul>
                    </li>
                }
            </ul>

            <h3 class="text-muted clickable" onclick="document.location.href = '@Url.Action("Index", "Home")'">Home Assistant</h3>
            <br/>
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>